 <div class="container-fluid">
    <div class="row align-items-center hero">
      <div class="col">
        <p>Nosotros</p>
        <h1>BAIKIS</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla tempora delectus ex itaque! Ex et, incidunt
          esse doloribus rerum deleniti blanditiis vitae! Animi minima reiciendis deserunt ratione veniam optio
          nihil!Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur sint, enim dignissimos iusto debitis
          numquam consequatur laboriosam natus odit neque nam voluptatem voluptate inventore culpa nesciunt, hic non
          explicabo. Quam.
        </p>
      </div>
      <div class="col"></div>
      <div class="col"></div>

    </div>
    <div id="partes" class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <h2 style="color:rgb(247, 117, 10);">Partes</h2>
          <ul class="lista">
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#Ruedas">
                <p><img src="images/ruedas.jpg">Ruedas</p>
              </a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#Asiento">
                <p><img src="images/asiento.jpg">Asiento</p>
              </a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#Manubrio">
                <p><img src="images/manubrio.jpg">Manubrio</p>
              </a></li>
          </ul>
        </div>
        <div class="col-md-1"></div>

          <div class="col-md-4">
            <h3 style="color:rgb(247, 117, 10);">Modelos</h3>
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                  <img src="images/montain.jpg" class="d-block w-100" alt="..." style="height: 300px;">
                  <div class="carousel-caption d-none d-md-block">
                    <h4 style="background-color:rgb(247, 117, 10);">Mountain</h4>
                  </div>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="images/playera.jpeg" class="d-block w-100" alt="..." style="height: 300px;">
                  <div class="carousel-caption d-none d-md-block">
                    <h4 style="background-color:rgb(247, 117, 10);">Playera</h4>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="images/cannondale-caad13-disc-105-2020-road-bike-red-EV360802-3000-1.jpg" class="d-block w-100" alt="..." style="height: 300px;">
                  <div class="carousel-caption d-none d-md-block">
                    <h4 style="background-color:rgb(247, 117, 10);">Carrera</h4>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        
      </div>
      <div class="modal fade" id="Ruedas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="staticBackdropLabel">Ruedas</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img class="imgmodal" src="images/ruedas.jpg">
              <p>La rueda de bicicleta es una rueda diseñada para bicicletas. Está compuesta de un neumático de
                caucho,
                en cuyo interior va una cámara de aire (también de caucho) montado sobre una llanta, un buje central
                y
                los radios que conectan ambos.</p>
            </div>

          </div>
        </div>
      </div>
      <div class="modal fade" id="Asiento" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="staticBackdropLabel">Ruedas</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img class="imgmodal" src="images/asiento.jpg">
              <p>Un sillín de bicicleta, también denominado asiento, es uno de los tres puntos de contacto en una
                bicicleta, los otros son los pedales y el manillar. El sillín de la bicicleta ha sido conocido como
                tal desde que la bicicleta evolucionó a partir del «hobby-horse», un precursor de la bicicleta. </p>
            </div>

          </div>
        </div>
      </div>
      <div class="modal fade" id="Manubrio" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="staticBackdropLabel">Ruedas</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <img class="imgmodal" src="images/manubrio.jpg">
              <p>El manillar de una bicicleta o motocicleta, llamado en algunos países manubrio​ de motocicleta o
                bicicleta, se refiere al mecanismo de dirección para las bicicletas, el equivalente de un volante.
              </p>
            </div>

          </div>
        </div>
      </div>
      <div>

      </div>
