/*font-family: 'Fjalla One', sans-serif;
font-family: 'Rampart One', cursive;*/ 
body{
    background-color: whitesmoke;
}
.barra{
    border-radius: 5px;
    margin: 2px;
    
}
h2{
    font-family: 'Rampart One', cursive;
    color: rgb(2, 2, 2);
}
h1 {
    font-family: 'Rampart One', cursive;
    color: rgb(2, 2, 2);
}
h4{
    font-family: 'Rampart One', cursive;
    color: rgb(2, 2, 2);
}
h3{
    font-family: 'Rampart One', cursive;
    color: rgb(2, 2, 2);
    font-size: 60px;
}
p{
    font-family: 'Fjalla One', sans-serif;
    color: rgb(0, 0, 0);
}
.hero{
    background: url(../images/fondo.jpg);
    background-size: cover;
    opacity: 85%;
    height: 50vh;
    min-height: 600px;
    color: whitesmoke;
}
.col{
    margin-left: 50px;
}
.col-md-4 h2{
    font-size: 80px;   
}

#partes{
    background-color: whitesmoke;
    margin-top: 50px;
}
.lista{
margin:0px;
padding: 0px;
list-style: none;
}
.lista li {
    margin: 4px 0;
    background-color: rgb(182, 189, 189);
    transition: all .2s ease-in-out;
    border-radius: 10px;
}
.lista li a{
    text-decoration: none;
    font-size: 30px;
    transition: all .2s ease-in-out;
  
}
.lista li:hover {
    color: rgb(172, 172, 172);
    background-color: rgb(247, 117, 10);
}
.lista li a img {
    border-radius: 5px;
    margin: 15px;
    width: 100px;
    height:90px;
    filter: grayscale();
    transition: all .2s ease-in-out;
}
.lista li a:hover img{
    filter: none;
    
}
.imgmodal{
 padding-left: 100px;
}
.card-body{
    margin:20px 100px;
}
.imgnosotros{
    margin-bottom: 20px;
}

footer{
    background-size:cover;
    background: url(../images/footer.jpg);
    width: 100%;
    
  

}
footer p{
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}