  <div class="card text-center">
        <div class="card-header">
            ¡Bienvenidos!
        </div>
        <div class="card-body">
            <h3 class="card-title">Nosotros</h3>
            <img src="images/nosotros.jpg" class="imgnosotros">
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, laboriosam culpa. Soluta corporis, omnis necessitatibus, inventore fuga adipisci dolor aspernatur doloremque delectus, quaerat eos distinctio quas? Quaerat temporibus veniam exercitationem. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus corporis necessitatibus, suscipit fugit aut dolor, reprehenderit nobis odio inventore neque nesciunt praesentium dolore laboriosam. Exercitationem culpa reprehenderit ad maxime saepe! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque explicabo, quam, debitis inventore deleniti et iusto recusandae, error doloribus accusamus doloremque fuga quidem modi a assumenda neque expedita reiciendis! Tempora?</p>
        </div>
        <div class="card-footer text-muted">
            Miranda Corrales - Sergio Mendez - Gustavo Martinez (2018)
        </div>
    </div>